.fitness {
    .fitness-page-name{
        margin: 70px 265px;
    }
    .fitness-name-hr {
        margin-top: -60px;
        margin-left: 275px;
        width: 55px;
        border: 1px solid #ff6600;
    }
}
