.nav-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    // Brand styles
    .nav-header {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        .brand-name {
            font-size: 50px;
            font-weight: 900;
            margin-left: 8px;
        }
        .vertical {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-weight: bold;
            font-size: 32px;
        }
        .menu-icon {
            margin-top: 20px;
            font-size: 30px;
            display: none;
            .menu-btn {
                cursor: pointer;
            }
        }
    }
    .brand-wrap {
        display: flex;
    }
    // Navigation styles
    .nav-items-wrap {
        margin-top: 40px;
        width: 75%;
        .nav-items {
            display: flex;
            justify-content: space-around;
            #check {
                display: none;
            }
            .nav-item {
                text-decoration: none;
                color: #000;
                font-size: 23px;
            }
        }
        .nav-hr {
            margin-top: 25px;
        }
    }
}

// Responsive
@media screen and (max-width: 1204px) {
    .nav-main {
        .nav-header {
            width: 70%;
            justify-content: space-between;
            .menu-icon {
                display: block;
            }
        }
    }
    .nav-items-wrap {
        .nav-items {
            flex-direction: column;
            align-items: center;
            .nav-item {
                margin: 20px 0;
                display: none;
            }
        }
        .nav-hr {
            display: none;
        }
        #check:checked ~ .nav-item {
            display: block;
            text-decoration: underline #949494 2px;
        }
    }
}
