.food-feature {
    display: flex;
    gap: 100px;
    margin: 60px 180px;
    .food-image {
        height: 520px;
        width: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .bg-text {
            color: #FFF;
        }
    }
    .delicious-food {
        margin-top: -250px;
        .delicious-food-hr {
            margin-top: 8px;
            margin-bottom: 20px;
            border: 1px solid orangered;
            width: 110px;
        }
        .delicious-contents {
            .top-down {
                display: flex;
                flex-direction: column;
                cursor: pointer;
            }
            .sideways {
                display: flex;
                gap: 20px;
                cursor: pointer;
            }
            .delicous-text {
                display: flex;
                position: relative;
                .text {
                    width: 90%;
                    .text-head {
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                    .text-para {
                        position: absolute;
                        bottom: 0;  
                    }
                    .date {
                        color: #817d7d;
                    }
                }
                .number {
                    color: #817d7d;
                    font-size: 48px;
                    width: 10%;
                    position: absolute;
                    right: 0;
                }
            }
            .food-hr {
                margin: 20px;
                margin-left: -2px;
            }
        }
    }
}
// Responsive
@media (max-width: 1300px) {
    .food-feature {
        margin: 60px 6%;
    }
}

@media (max-width: 1150px) {
    .food-feature {
        flex-direction: column;
        // align-items: center;
        margin-top: 300px;
        .food-image {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .food-feature {
        .delicious-food {
            .delicious-contents {
                .delicous-text {
                    .text {
                        .text-para {
                            bottom: -20px;
                        }
                    }
                }
            }
        }
    }
}
