.blog-menu {
    margin: 70px 265px;
    display: flex;
    // Left Card
    .blog-card-left {
        .bollywood-name-hr {
            width: 50px;
            margin-left: 8px;
            margin-top: 5px;
            margin-bottom: 50px;
            border: 1px solid #ff6600;
        }
        .blog-card-item-left {
            display: flex;
            gap: 20px;
            cursor: pointer;
            .blog-card-image-div-left {
                .blog-card-image {
                    width: 320px;
                    height: 190px;
                }
            }
            .blog-card-text-left {
                position: relative;
                .blog-card-title {
                    font-size: 28px;
                    font-weight: bold;
                }
                .blog-card-para {
                    margin-top: 15px;
                    color: #494848;
                }
                .blog-card-category {
                    position: absolute;
                    bottom: 10px;
                }
                .blog-card-span {
                    color: #868686;
                }
            }
        }
        .blog-card-hr {
            margin-top: 50px;
            margin-bottom: 30px;
            width: 115%;
        }
    }
    // Right Card
    .blog-card-right {
        margin-left: 40%;
        .bollywood-top-hr {
            width: 57px;
            margin-left: -2px;
            margin-top: 5px;
            margin-bottom: 50px;
            border: 1px solid #ff6600;
        }
        .blog-card-item-right {
            cursor: pointer;
            .blog-card-item-text-right {
                display: flex;
                position: relative;
                .blog-card-title-right {
                    width: 130%;
                    font-size: 28px;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
                .blog-card-category-right {
                    width: 120%;
                    margin-bottom: 20px;
                }
                .blog-card-span {
                    color: #868686;
                }
                .blog-number {
                    position: absolute;
                    top: 40px;
                    right: -140px;
                    font-size: 60px;
                    color: #b3adad;
                }
            }
        }
        .blog-card-item-flex-right {
            display: flex;
            gap: 15px;       
        }
        .blog-card-hr-right {
            width: 150%;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .blog-card-advertisement-right {
            border: 3px solid #c0c0c0;
            margin-top: 70px;
            height: 580px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            font-weight: bold;
        }
    }
}

// Responsive
@media (max-width: 1500px) {
    .blog-menu {
        margin: 70px 12%;
        // Left card
        .blog-card-left {
            .blog-card-item-left {
                .blog-card-text-left {
                    .blog-card-title {
                        width: 80%;
                    }
                    .blog-card-category {
                        bottom: -25px;
                    }
                }
            }
            .blog-card-hr {
                width: 100%;
            }
        }
        // Right card
        .blog-card-right {
            margin-left: 20%;
            .blog-card-item-right {
                .blog-card-item-text-right {
                    .blog-card-title-right {
                        width: 80%;
                    }
                    .blog-number {
                        right: -5%;
                    }
                }
            }
            .blog-card-hr-right {
                width: 80%;
            }
            .blog-card-advertisement-right {
                height: 580px;
                width: 70%;
            }
        }
    }
}

@media (max-width: 1400px) {
    .blog-menu {
        flex-direction: column;
        .blog-card-right {
            margin-left: 0;
            margin-top: 50px;
            .blog-card-item-text-right {
                .blog-card-title-right {
                    width: 100%;
                }
                .blog-number {
                    left: 100%;
                }
            }
            .blog-card-hr-right {
                width: 100%;
            }
            .blog-card-advertisement-right {
                display: none;
            }
        }
    }
}
// Mobile responsive
@media (max-width: 900px) {
    .blog-menu {
        .blog-card-left {
            .blog-card-item-left {
                flex-direction: column;
                .blog-card-image-div-left {
                    .blog-card-image {
                        width: 300px;
                        height: 200px;
                    }
                }
                .blog-card-text-left {
                    .blog-card-para {
                        display: none;
                    }
                }
            }
        }
        .blog-card-right {
            .blog-card-item-right {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
